/*
*
* Ladder v1.1
* Copyright 2013, Scott Fahrig
* ladder.scottfahrig.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

* {
  font-family: 'Open Sans', sans-serif;
}

.right { float: right; }
.left { float: left; }

/* The Container */
.container {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

/* Set the width of the grid */
.row {
  width: 100%;
  margin: 0px auto
}

/* Attribute selector */
[class*='col-'] {
  float: left;
  padding: 0.3em
}

/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  float: right
}

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both
}

/*===================================*/
/* The Grid */
/*===================================*/

/* Main Widths */

/* Column Classes */
.row .col-1 { width: 8.333333%; }
.row .col-2 { width: 16.666667%; }
.row .col-3 { width: 25%; }
.row .col-4 { width: 33.333333%; }
.row .col-5 { width: 41.666667%; }
.row .col-6 { width: 50%; }
.row .col-7 { width: 58.333333%; }
.row .col-8 { width: 66.666667%; }
.row .col-9 { width: 75%; }
.row .col-10 { width: 83.333333%; }
.row .col-11 { width: 91.666667%; }
.row .col-12 { width: 100%; }

/* Centered Classes */
.row .one.centered { margin-left: 46.80851%; }
.row .two.centered { margin-left: 42.55319%; }
.row .three.centered { margin-left: 38.29787%; }
.row .four.centered { margin-left: 34.04255%; }
.row .five.centered { margin-left: 29.78723%; }
.row .six.centered { margin-left: 25.53191%; }
.row .seven.centered { margin-left: 21.2766%; }
.row .eight.centered { margin-left: 17.02128%; }
.row .nine.centered { margin-left: 12.76596%; }
.row .ten.centered { margin-left: 8.51064%; }
.row .eleven.centered { margin-left: 4.25532%; }




/* Mobile */
@media (max-width: 480px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100% !important;
  }

  .container {
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 480px) and (max-width: 800px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100% !important;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/* Small Desktop */
@media (min-width: 800px) and (max-width: 1100px) {

  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/*===================================*/
/* Navbar */
/*===================================*/

.navbar {
  width: 100%;
  height: 60px;
  background-color: #222;
  margin-bottom: 20px;
}

.navbar .logo {
  padding-top: 4px;
  font-size: 30px;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.navbar .nav {
  padding-top: 14px;
}

.navbar .container ul li {
  display: inline-block;
  padding-left: 30px;  
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}





























