/*
*
* Ladder v1.1
* Copyright 2013, Scott Fahrig
* ladder.scottfahrig.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

html, body {
  height: 100%;
}

/* For the grid example */
.box {
  text-align: center;
  background-color: #12A0BE;
  color: #fff;
  padding: 15px 0 15px 0
}